api/caboverde/CraneAncillaryOTAService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0 svn-revision#3528ea595bd29309f69172d231bbce272d21035c. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0 svn-revision#3528ea595bd29309f69172d231bbce272d21035c. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.soap.ws.crane.hititcs.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://impl.soap.ws.crane.hititcs.com/" name="CraneAncillaryWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://impl.soap.ws.crane.hititcs.com/" schemaLocation="http://tcv-stage.crane.aero:80/craneota/CraneAncillaryOTAService?xsd=1"/>
</xsd:schema>
</types>
<message name="AddSsr">
<part name="parameters" element="tns:AddSsr"/>
</message>
<message name="AddSsrResponse">
<part name="parameters" element="tns:AddSsrResponse"/>
</message>
<message name="CraneFault">
<part name="fault" element="tns:CraneFault"/>
</message>
<message name="SegmentBaseAvailableSpecialServices">
<part name="parameters" element="tns:SegmentBaseAvailableSpecialServices"/>
</message>
<message name="SegmentBaseAvailableSpecialServicesResponse">
<part name="parameters" element="tns:SegmentBaseAvailableSpecialServicesResponse"/>
</message>
<message name="GetSeatMap">
<part name="parameters" element="tns:GetSeatMap"/>
</message>
<message name="GetSeatMapResponse">
<part name="parameters" element="tns:GetSeatMapResponse"/>
</message>
<message name="DeleteSsr">
<part name="parameters" element="tns:DeleteSsr"/>
</message>
<message name="DeleteSsrResponse">
<part name="parameters" element="tns:DeleteSsrResponse"/>
</message>
<message name="GetAvailableSpecialServices">
<part name="parameters" element="tns:GetAvailableSpecialServices"/>
</message>
<message name="GetAvailableSpecialServicesResponse">
<part name="parameters" element="tns:GetAvailableSpecialServicesResponse"/>
</message>
<portType name="CraneAncillaryOTAService">
<operation name="AddSsr">
<input wsam:Action="http://impl.soap.ws.crane.hititcs.com/CraneAncillaryOTAService/AddSsrRequest" message="tns:AddSsr"/>
<output wsam:Action="http://impl.soap.ws.crane.hititcs.com/CraneAncillaryOTAService/AddSsrResponse" message="tns:AddSsrResponse"/>
<fault message="tns:CraneFault" name="CraneFault" wsam:Action="http://impl.soap.ws.crane.hititcs.com/CraneAncillaryOTAService/AddSsr/Fault/CraneFault"/>
</operation>
<operation name="SegmentBaseAvailableSpecialServices">
<input wsam:Action="http://impl.soap.ws.crane.hititcs.com/CraneAncillaryOTAService/SegmentBaseAvailableSpecialServicesRequest" message="tns:SegmentBaseAvailableSpecialServices"/>
<output wsam:Action="http://impl.soap.ws.crane.hititcs.com/CraneAncillaryOTAService/SegmentBaseAvailableSpecialServicesResponse" message="tns:SegmentBaseAvailableSpecialServicesResponse"/>
<fault message="tns:CraneFault" name="CraneFault" wsam:Action="http://impl.soap.ws.crane.hititcs.com/CraneAncillaryOTAService/SegmentBaseAvailableSpecialServices/Fault/CraneFault"/>
</operation>
<operation name="GetSeatMap">
<input wsam:Action="http://impl.soap.ws.crane.hititcs.com/CraneAncillaryOTAService/GetSeatMapRequest" message="tns:GetSeatMap"/>
<output wsam:Action="http://impl.soap.ws.crane.hititcs.com/CraneAncillaryOTAService/GetSeatMapResponse" message="tns:GetSeatMapResponse"/>
<fault message="tns:CraneFault" name="CraneFault" wsam:Action="http://impl.soap.ws.crane.hititcs.com/CraneAncillaryOTAService/GetSeatMap/Fault/CraneFault"/>
</operation>
<operation name="DeleteSsr">
<input wsam:Action="http://impl.soap.ws.crane.hititcs.com/CraneAncillaryOTAService/DeleteSsrRequest" message="tns:DeleteSsr"/>
<output wsam:Action="http://impl.soap.ws.crane.hititcs.com/CraneAncillaryOTAService/DeleteSsrResponse" message="tns:DeleteSsrResponse"/>
<fault message="tns:CraneFault" name="CraneFault" wsam:Action="http://impl.soap.ws.crane.hititcs.com/CraneAncillaryOTAService/DeleteSsr/Fault/CraneFault"/>
</operation>
<operation name="GetAvailableSpecialServices">
<input wsam:Action="http://impl.soap.ws.crane.hititcs.com/CraneAncillaryOTAService/GetAvailableSpecialServicesRequest" message="tns:GetAvailableSpecialServices"/>
<output wsam:Action="http://impl.soap.ws.crane.hititcs.com/CraneAncillaryOTAService/GetAvailableSpecialServicesResponse" message="tns:GetAvailableSpecialServicesResponse"/>
<fault message="tns:CraneFault" name="CraneFault" wsam:Action="http://impl.soap.ws.crane.hititcs.com/CraneAncillaryOTAService/GetAvailableSpecialServices/Fault/CraneFault"/>
</operation>
</portType>
<binding name="CraneAncillaryOTAServicePortBinding" type="tns:CraneAncillaryOTAService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AddSsr">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CraneFault">
<soap:fault name="CraneFault" use="literal"/>
</fault>
</operation>
<operation name="SegmentBaseAvailableSpecialServices">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CraneFault">
<soap:fault name="CraneFault" use="literal"/>
</fault>
</operation>
<operation name="GetSeatMap">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CraneFault">
<soap:fault name="CraneFault" use="literal"/>
</fault>
</operation>
<operation name="DeleteSsr">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CraneFault">
<soap:fault name="CraneFault" use="literal"/>
</fault>
</operation>
<operation name="GetAvailableSpecialServices">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CraneFault">
<soap:fault name="CraneFault" use="literal"/>
</fault>
</operation>
</binding>
<service name="CraneAncillaryWSService">
<port name="CraneAncillaryOTAServicePort" binding="tns:CraneAncillaryOTAServicePortBinding">
<soap:address location="http://tcv-stage.crane.aero:80/craneota/CraneAncillaryOTAService"/>
</port>
</service>
</definitions>